* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

$header: 3.5rem;
$text: 1.5rem;
$header-font: "Big Shoulders Display", cursive;
$text-font: "Lexend Deca", sans-serif;
$text-color: hsla(0, 0%, 100%, 0.75);
$card1-color: hsl(31, 77%, 52%);
$card2-color: hsl(184, 100%, 22%);
$card3-color: hsl(179, 100%, 13%);
$main-bg-color: hsl(0, 0%, 95%); /* for background/headings/buttons */

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

p,
button {
  font-size: $text;
  font-family: $text-font;
  color: $text-color;
}

h1,
h2 {
  font-size: $header;
  font-family: $header-font;
  color: $main-bg-color;
}

main {
  background: $main-bg-color;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.main-card-wrapper {
  @include flex(column, center, center);
  padding: 8rem 0rem;
  width: 32rem;
  border-radius: 10px;
}

.card-component {
  height: 45rem;
  @include flex(column, space-between, flex-start);
  padding: 4.5rem;
  width: 100%;
  p {
    line-height: 2.5rem;
  }
  button {
    padding: 1rem 3rem;
    border-radius: 30px;
    border-width: 0;
    background: $main-bg-color;

    &:hover {
      outline: 2px solid $main-bg-color;
      background: transparent;
      color: $main-bg-color;
      cursor: pointer;
    }
  }
}

.sedan-card {
  background: $card1-color;
  border-radius: 10px 10px 0px 0px;
  button {
    color: $card1-color;
  }
}

.suv-card {
  background: $card2-color;
  button {
    color: $card2-color;
  }
}

.luxury-card {
  background: $card3-color;
  border-radius: 0px 0px 10px 10px;
  button {
    color: $card3-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  p {
    font-size: 1.6rem;
  }

  .main-card-wrapper {
    width: 45rem;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.6rem;
  }
  h1,
  h2 {
    font-size: 4rem;
  }

  .main-card-wrapper {
    width: 100rem;
    @include flex(row, center, center);
  }

  .card-component {
    min-height: 50rem;
    p {
      padding-bottom: 4rem;
    }
  }

  .sedan-card {
    border-radius: 10px 0px 0px 10px;
  }

  .luxury-card {
    border-radius: 0px 10px 10px 0px;
  }
}
